@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=IM Fell French Canon SC");

/* base styles */
* {
  margin: 0px;
  font-family: "Inter";
  color: #333;
}

body {
  background-color: #fafafa;
}

.values-list,
.page-detail,
.page-create,
.page-edit,
.page-not-found,
.page-profile{
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}



.navbar {
  padding: 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #630000;
  position: sticky;
  top: 0;
  color: #EEEBDD;
  font-size: larger;
}

.title-navbar h1 {
  cursor: pointer;
}

.dropdown {
  margin: 5px;
}

.navbar h1 {
  font-family: "IM Fell French Canon SC";
  color: #EEEBDD;
  font-weight: lighter;
  border-bottom: 1px solid #EEEBDD;
  border-top: 1px solid #EEEBDD;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  font-size: 20px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #EEEBDD;
  background-color: #630000;
  border: 0;
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar button {
  font-size: 20px;
  margin-left: 16px;
  padding: 6px;
  color: #EEEBDD;
  background-color: #630000;
  border: 0;
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #630000 inset !important;
  -webkit-text-fill-color: #EEEBDD !important;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


/* sign-up & sign-in */
.page-sign-in,
.page-sign-up{
  /* max-height: 900px; */
  height: 750px;
  padding: 46px;
  /* padding-bottom: 400px; */
  /* padding-bottom: 100cm; */
  margin: auto;
  background-color: #630000;
}
.sign-in,
.sign-up {
  font-family: "IM Fell French Canon SC";
  /* background-color: #630000; */
  border-radius: 40px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 150px 50px;
}

.sign-in h1,
.sign-up h1 {
  font: "IM Fell French Canon SC";
  font-size: 24px;
  color: #EEEBDD;
  margin-bottom: 30px;
}

.sign-in p,
.sign-up p {
  color: #EEEBDD;
}

.sign-in a,
.sign-up a {
  color: #EEEBDD;
  font-weight: bold;
  text-decoration: none;
}

.sign-in input,
.sign-up input {
  color: #EEEBDD;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid #EEEBDD;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  font-size: large;
}

.sign-in-button,
.sign-up-button {
  color: #630000;
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: fit-content;
  margin: 0 auto;
}

.sign-in-button button,
.sign-up-button button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #EEEBDD;
  color: #630000;
  padding: 10px 15px;
  border-radius: 22px;
  margin: 8px;
}

.sign-in-button .cancel-login,
.sign-up-button .cancel-regist {
  background-color: #ff6060;
}

.sign-in .fa,
.sign-up .fa {
  margin-left: 95%;
  position: relative;
  top: 42px;
  font-size: 20px;
  cursor: pointer;
  cursor: pointer;
  color: #EEEBDD;
}

/* Riddle preview / lists */
.horridle-preview {
  padding: 0px 16px;
  margin: 20px 40px;
  background: #EEEBDD;
  border: 3px solid #630000;
  border-radius: 20px;
}

.horridle-preview:hover {
  background-color: #dddddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.horridle-preview h2 {
  max-width: fit-content;
  padding: 5px 20px;
  background-color: #630000;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #EEEBDD;
  font-size: 20px;
  text-align: center;
}

.horridle-preview a {
  text-decoration: none;
}

.horridle-preview span {
  font-weight: bolder;
}

.riddle-body {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Plus create in horridle list */
.plus-create {
  position: fixed;
  right: 15px;
  bottom: 20px;
  font-size: 44px;
  text-decoration: none;
  background-color: #630000;
  border-radius: 50px;
  width: 58px;
  height: 58px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.plus-create a {
  color: #EEEBDD;
  text-decoration: none;
}

.loading h2 {
  font-size: 32px;
  padding: 12px;
}

/* Riddle details page */
.horridle-details {
  border: 2px solid #630000;
  border-radius: 20px;
  padding: 0 20px;
  height: 680px;
  text-overflow: ellipsis;
  overflow: auto;

}

/* .horridle-details h1 { */
.title {
  max-width: fit-content;
  padding: 5px 20px;
  background-color: #630000;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  color: #EEEBDD;
  font-size: 20px;
  text-align: center;
}

.horridle-details h2 {
  font-size: 20px;
  color: #630000;
  margin-bottom: 10px;
}

.horridle-details button {
  font-weight: bold;
  margin-left: 8px;
  padding: 8px 16px;
  color: #630000;
  border: 1px solid #630000;
  background-color: #EEEBDD;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.button-riddle {
  margin-left: auto;
}

.button-riddle button {
  margin-top: 4px;
  margin-right: 4px;
}

.delete-riddle {
  margin-left: auto;
}

.delete-riddle button {
  margin-right: 4px;
}


/* scrollbar di riddle detail */
.create textarea::-webkit-scrollbar,
.edit textarea::-webkit-scrollbar,
.horridle-details::-webkit-scrollbar,
.right::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
.edit textarea::-webkit-scrollbar-thumb,
.create textarea::-webkit-scrollbar-thumb,
.horridle-details::-webkit-scrollbar-thumb,
.right::-webkit-scrollbar-thumb {
  background: #63000070;
  border-radius: 5px;
}

/* Handle on hover */
.edit textarea::-webkit-scrollbar-thumb:hover,
.create textarea::-webkit-scrollbar-thumb:hover,
.horridle-details::-webkit-scrollbar-thumb:hover,
.right::-webkit-scrollbar-thumb:hover {
  background: #63000099;
}

/* create new horridle form */
.create,
.edit {
  background-color: #630000;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
}

.create h2,
.edit h2 {
  font-size: 20px;
  color: #EEEBDD;
  margin-bottom: 30px;
}

.create label,
.edit label {
  color: #EEEBDD;
  text-align: left;
  display: block;
}

.create input,
.create textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 2px solid #630000;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  font-size: large;
}

.edit input,
.edit textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 2px solid #630000;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  font-size: large;
}

.create textarea,
.edit textarea {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  min-height: 200px;

}

.edit textarea {
  height: 300px;
  min-height: 300px;
}

.create-button,
.edit-button {
  max-width: fit-content;
  margin: 0 auto;
}

.create-button button,
.edit-button button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #EEEBDD;
  color: #630000;
  padding: 8px;
  border-radius: 22px;
  margin: 8px;
}

.create-button .cancel-create {
  background-color: #ff6060;
}

.edit-button .cancel-edit {
  background-color: #ff6060;
}

.back-arrow {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px
}

.back-arrow::after,
.back-arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 6px
}

.back-arrow::after {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #630000;
  border-left: 4px solid #630000;
  transform: rotate(45deg);
  bottom: 12px
}

.back-arrow::before {
  width: 32px;
  height: 4px;
  bottom: 20px;
  background: #630000
}

.back-arrow {
  border: none;
  background-color: #00000000;
  cursor: pointer;
}

.answer-detail {
  border: 2px solid #630000;
  margin: 12px 0;
  padding: 8px;
  border-radius: 16px;
  background-color: #00000020;
}

.circular_image {
  clip-path: circle();
  max-width: 50px;
  height: auto;
}

.riddle-user-profile {
  display: flex;
  align-items: center;
}

.riddle-user-profile img {
  /* clip-path: circle();
  width: 40px;
  height: 52px;
  margin-right: 16px; */

  object-fit: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 12px;
}

.riddle-user-name {
  margin: 0;
}

/* Box Comment */
.commenting input[type=text],
select {
  margin: 12px 0;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  /* margin: 0px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.commenting .comment {
  display: flex;
  align-items: right;
}

.comment button {
  margin-left: auto;
}


.comments {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  margin: 20px 0;
  padding: 8px 8px;
  background: #eeebdd40;
}

.comprofile {
  display: flex;
  align-items: center;
}

.comprofile img {
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.comprofile button{
  font-size: 14px;
  margin-left: auto;
  margin-right: 4px;
}

.comments .date {
  font-size: 12px;
  color: #0000009a;
}

.comments h1 {
  color: #333;
  font-size: 16px;
  background: none;
  padding: 0;
  margin: 0;
}

.comments h2 {
  font-size: 14px;
  color: #333;
}

.comments:hover {
  background-color: #eeebdd80;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
}

.comments a {
  text-decoration: none;
}

.comments-text {
  font-size: 18px;
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 12px;
}

.column {
  float: left;
  padding: 10px;
}

.column h2 {
  font-size: 24px;
  color: #630000;
}

.left {
  width: 70%;
}

.right {
  width: 25%;
  margin: 5px 0;
  border: 2px solid #630000;
  border-radius: 20px;
  height: 670px;
  text-overflow: ellipsis;
  overflow: auto;
}

/* Clear floats after the columns */
.page-detail:after {
  content: "";
  display: table;
  clear: both;
}

/* .page-detail{
  max-width: 1200px;
  
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 920px) {
  .column {
    float: none;
  }

  .left {
    width: 98%;
  }

  .left .horridle-details {
    height: fit-content;
    max-height: 750px;
    padding-bottom: 20px;
  }

  .right {
    margin: 0 8px;
    width: 95%;
    height: 300px;
  }
}

/* Riddle preview / lists */
.other-riddle {
  padding: 10px 16px;
  margin: 5px 5px;
  background: #EEEBDD40;
  border: 2px solid #630000;
  border-radius: 20px;
  font-size: 14px;
}

.other-riddle:hover {
  background-color: #dddddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.other-riddle h2 {
  color: #333;
  font-size: 16px;
}

.other-riddle a {
  text-decoration: none;
}

.other-riddle span {
  font-weight: bolder;
}

.other-riddle-body {
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userProfile {
  margin: 10px;
  border: 1px solid #630000;
  border-radius: 24px;
}

.user-detail {
  margin: 80px 20px;
}

.posts {
  display: flex;
  align-items: left;
}

.posts a {
  text-decoration: none;
}

.posts .links {
  margin-left: auto;
  text-decoration: none;
}

.user-riddle {
  display: flex;
  align-items: left;
  text-overflow: ellipsis;
  overflow: auto;
}

.user-pic {
  display: flex;
  align-items: center;
}

.user-pic img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 70px;
  max-height: 70px;
  min-width: 70px;
  min-height: 70px;
  margin-right: 12px;
}

.user-button {
  margin-left: auto;
}

.user-button button {
  font-weight: bold;
  margin-left: 8px;
  margin-top: 4px;
  padding: 8px 16px;
  color: #630000;
  border: 1px solid #630000;
  background-color: #EEEBDD;
  border-radius: 40px;
  cursor: pointer;
}

.user-button button:hover {
  background-color: #ceceb3;
}

.userRiddle {
  min-width: 160px;
  width: 240px;
  padding: 0px 16px;
  margin: 10px 10px;
  border: 2px solid #630000;
  border-radius: 20px;
}

.userRiddle h2 {
  font-size: 16px;
  max-width: fit-content;
  padding: 5px 20px;
  background-color: #630000;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #EEEBDD;
  text-align: center;
}

.userRiddle:hover {
  background-color: #e3e3e3;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}


.userRiddle a {
  text-decoration: none;
}

.userRiddle span {
  font-weight: bolder;
}

.userRiddle p {
  font-size: 16px;
}

.user-riddle .user-riddle-body {
  font-size: 16px;
  height: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-riddle .riddle-answer {
  background-color: #EEEBDD;
  border-radius: 20px;
  padding: 10px;
  height: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-user {
  text-align: center;
  background: #630000;
  color: #EEEBDD;
  padding: 80px 80px;
  border-radius: 20px;
}

.no-user h1 {
  color: #EEEBDD;
}

.no-user a {
  font-size: 28px;
  color: #7e80ff;
  text-decoration: none;

}