@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=IM Fell French Canon SC");

/* base styles */
* {
  margin: 0;
  font-family: "Inter";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-image: url('navbar.png');
  background-color: #630000;
  position: sticky;
  top: 0;
  color: #EEEBDD;
  font-size: larger;
}

.navbar h1 {
  font-family: "IM Fell French Canon SC";
  color: #EEEBDD;
  font-weight: lighter;
  border-bottom: 1px solid #EEEBDD;
  border-top: 1px solid #EEEBDD;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #EEEBDD;
  background-color: #630000;
  color: #EEEBDD;
  border: 0;
  border-radius: 40px;
  width: 150px;
  height: 60px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 88px;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* color: rgb(207, 207, 207); */
}

.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

/* Riddle preview / lists */
.horridle-preview {
  padding: 10px 16px;
  margin: 20px 60px;
  background: #EEEBDD;
  border: 5px solid #630000;
  border-radius: 20px;
}

.horridle-preview:hover {
  background-color: #dddddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.horridle-preview h2 {
  max-width: fit-content;
  padding: 5px 20px;
  background-color: #630000;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #EEEBDD;
  font-size: 20px;
  text-align: center;
}

.horridle-preview a {
  text-decoration: none;
}

.horridle-preview span {
  font-weight: bolder;
}

.riddle-body {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Plus create in horridle list */
.plus-create {
  position: fixed;
  right: 15px;
  bottom: 20px;
  font-size: 44px;
  text-decoration: none;
  background-color: #630000;
  border-radius: 50px;
  width: 58px;
  height: 58px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.plus-create a {
  color: #EEEBDD;
  text-decoration: none;
}

/* Riddle details page */
.horridle-details {
  border: 2px solid #630000;
  border-radius: 20px;
  padding: 20px;
  height: 600px;
  text-overflow: ellipsis;
  overflow: auto;

}

.horridle-details h1 {
  max-width: fit-content;
  padding: 5px 20px;
  background-color: #630000;
  border-radius: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #EEEBDD;
  font-size: 20px;
  text-align: center;
}

.horridle-details h2 {
  font-size: 20px;
  color: #630000;
  margin-bottom: 10px;
}

.horridle-details div {
  margin: 20px 0;
}

.horridle-details button {
  background: #630000;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* scrollbar di riddle detail */
.horridle-details::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
.horridle-details::-webkit-scrollbar-thumb {
  background: #63000070;
  border-radius: 5px;
}

/* Handle on hover */
.horridle-details::-webkit-scrollbar-thumb:hover {
  background: #63000099;
}

/* create new horridle form */
.create {
  background-color: #630000;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.create h2 {
  font-size: 20px;
  color: #EEEBDD;
  margin-bottom: 30px;
}

.create label {
  color: #EEEBDD;
  text-align: left;
  display: block;
}

.create input,
.create textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 2px solid #630000;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  font-size: large;
}

.create-button {
  color: #630000;
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: fit-content;
  margin: 0 auto;
}

.create-button button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #EEEBDD;
  color: #630000;
  padding: 8px;
  border-radius: 8px;
}

.back-arrow {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px
}

.back-arrow::after,
.back-arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 6px
}

.back-arrow::after {
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #630000;
  border-left: 4px solid #630000;
  transform: rotate(45deg);
  bottom: 12px
}

.back-arrow::before {
  width: 32px;
  height: 4px;
  bottom: 20px;
  background: #630000
}

.back-arrow {
  border: none;
  background-color: #00000000;
  cursor: pointer;
}

.answer-detail{
  border: 2px solid #630000;
  padding: 5px;
  border-radius: 10px;
  background-color: #00000020;
}

.circular_image {
  clip-path: circle();
  max-width: 50px;
  height: auto;
}